# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
*.zen

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.json

# Logs
*.log

# Environment variables
.env

# Machine learning artifacts
*.h5
*.model
*.pkl
*.joblib

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db